.cart_dialog_packs_variant_item
{
  opacity:1;
  background:white;
   -webkit-transition: opacity 1s;

}

.cart_dialog_packs_variant_item :hover
{
    opacity:0.7;
    -webkit-transition: opacity 1s;
}

.cart_dialog_packs_variant_item_selected
{
  opacity:1;
  background:white;
   -webkit-transition: opacity 1s;

}

.header_line
{
    background: white;
}

.cart_widget
{
    background : #38993C;
}

.category_type_button
{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    margin: 0;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
    padding:5px 50px 5px 50px;
    border: none;
}

.category_type_button:active
{
    background: #ef9a9a;
    background-color: #ef9a9a;
}
.category_type_button:target
{
    background: #ef9a9a;
    background-color: #ef9a9a;
}
.category_type_button:focus
{
    background: #ef9a9a;
    background-color: #ef9a9a;
}
.category_type_icon
{
  height:30px;
  width: 30px;
  margin-left: 10px;

}
.short-search
{
  color:white;
  margin:20px;
}

.short-search:focus
{
    width:100%;
 color:#38993C;
 background:white;
}

.search_div
{
    margin-top:15px;
}

.screen_items_table
{

}
.items_table_img
{
    width:50px;
    height:50px;
}

.cart_dialog_header_container
{
    padding:20px;
    background:white;
}


.cart_dialog_table_row
{
    padding:5px;
    background:white;
    margin:5px;
    border:grey;
}

.cart_dialog_header_item
{
    background:white;
}

.cart_dialog_header_item_enabled
{
    background: #51d83e;
    padding:5px;
}

.screen_items_table
{
    margin-top:20px;
}
.cart_information_form
{
    padding:5%;
}

.cart_information_form_section
{
    background:white;
    padding:5%;
    margin-top:10px;

}

.cart_dialog_items_title
{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Philosopher', sans-serif;
    font-size:45px;
}
.types_menu_bar
{
  background:#dddddd;
}

.ul_fasset_widget
{
    box-shadow: none;
}